body{
  background: transparent;
  background-color: gray;
  color: pink;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
}
.name{
  font-size: 28px;
  
}
.contact{
  text-align:center;
  
}

.educationheader{
  text-transform: uppercase;
  border-top: 1px solid;
  border-color: pink;
}
.educationdetails{
  margin-bottom: 3%
    
}

.workheader{
  border-top: 1px solid;
  border-bottom: 1px solid; 
  border-color: pink;
}

