body{
  background-color:gray;
  color: pink;
  font-family: Arial, Helvetica, sans-serif;
 
}

.name{
  font-size: 20px;
}

.contact{
  font-size:12px
}

.eduheader{
  text-transform: uppercase;
  border-bottom:3px solid;
  line-height:1px;
  margin:10px 0;
   
}

#educontainer{
  clear:both;
  width:200px;
  float:left;
  font-size:px;
    
}

#content{
  float:right;
  width:300px;
  margin-top:0%;
 
  
}

.workheader{
  border-bottom: 2px solid; 
  
}
#aboutme{
  background:pink;
  color:black;
  border-radius:5px;
  float:left;
  width:200px;
  
}
.update{
  font-size: 12px;
  text-align:right;
  border-top:5px solid;
  clear:both;
}
