body{
  background-color:gray;
  color: pink;
  font-family: Arial, Helvetica, sans-serif;
 
}

.name{
  font-size:20px;
}

.contact{
  font-size:12px
}

.eduheader{
  text-transform: uppercase;
  line-height:1px;
  margin:10px 0;
   
}

#educontainer{
  clear:both;
  float:left;
  width:25%;
  
    
}

#content{
  float:right;
  width:70%;
  box-shadow: 0px 0px 0px 5px black;
  
  
  
  
}

.workheader{
  border-bottom: 2px solid black; 
  
}
#aboutme{
  background:pink;
  color:black;
  border-radius:5px;
  float:left;
  width:25%;
 
  
}
.update{
  font-size: 12px;
  text-align:right;
  border-top:5px solid;
  clear:both;
}










